@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
body {
  color: #373563;
  background: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 108px;
    padding-left: 376px;
  }
}

.form {
  width: 100%;
}

.form__field {
  width: 100%;
  padding-bottom: 20px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  border-radius: 42px;
}

::-webkit-input-placeholder {
  color: #a1abc7;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

::-moz-placeholder {
  color: #a1abc7;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

:-ms-input-placeholder {
  color: #a1abc7;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

::-ms-input-placeholder {
  color: #a1abc7;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

::placeholder {
  color: #a1abc7;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

:-ms-input-placeholder {
  color: #a1abc7;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

::-ms-input-placeholder {
  color: #a1abc7;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 16px;
  background-color: #ff5f68;
  border: 0px;
  border-radius: 42px;
  color: #fff;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
}

.form__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
}

.checkbox {
  border: 1px solid #e1ccda;
  border-radius: 4px;
}

.header {
  background-image: url("../img/header-bg.png");
}

.header__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
  margin-bottom: 24px;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__table-datebg {
  position: relative;
}

.header__table-date {
  position: absolute;
}

.header__table-clock {
  margin-left: 15px;
}

.header__table-time {
  margin-left: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__text-1 {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #302e5b;
  line-height: 1.21;
}

.header__text-2 {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #373563;
}

.header__text-3 {
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 1.2;
  color: #3d3a78;
}

.header__text-3-bold {
  font-weight: 700;
  font-size: 29px;
  line-height: 1.21;
  color: #ec6568;
}

.result {
  background: -webkit-gradient(linear, left top, left bottom, from(#cddaff), to(#faeaed));
  background: linear-gradient(180deg, #cddaff 0%, #faeaed 100%);
}/*# sourceMappingURL=main.css.map */