body {
  color: $color;
  background: $bgcolor;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

h1,
h2,
h3,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 108px;
    padding-left: 376px;
  }
}
